.board{
  display:"flex";
  justify-content:"center";
  flex-direction:"row"
}
.shapes{
  margin-top: 5vh;
  display:"flex";
  justify-content:"space-between";
}
.target{
    display:"flex";
    justify-content:"center";
}